<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="typeMetaInfo"
		class="org.easycluster.easycluster.serialization.protocol.meta.MetainfoUtils"
		factory-method="createTypeMetainfo">
		<constructor-arg>
			<set>
				<value>org.easycluster.easycluster.cluster.*</value>
			</set>
		</constructor-arg>
	</bean>

	<bean id="eventHandler"
		class="org.easycluster.easycluster.cluster.manager.event.handler.DefaultEventHandler">
		<property name="hostName" value="127.0.0.1" />
		<property name="service" value="test" />
		<property name="contextManager" ref="contextManager" />
	</bean>

	<bean id="contextManager"
		class="org.easycluster.easycluster.cluster.manager.event.handler.DefaultContextManager" />

	<bean id="networkServerConfig" class="org.easycluster.easycluster.cluster.NetworkServerConfig">
		<property name="serviceGroup" value="app" />
		<property name="service" value="test" />
		<property name="zooKeeperConnectString" value="127.0.0.1:2181" />
		<property name="port" value="6000" />
		<property name="serializationConfig">
			<bean
				class="org.easycluster.easycluster.cluster.serialization.SerializationConfig">
				<property name="typeMetaInfo" ref="typeMetaInfo" />
				<property name="serializeType" value="JSON" />
			</bean>
		</property>
		<property name="clusterEventHandler" ref="eventHandler" />
	</bean>

	<bean id="networkServer" class="org.easycluster.easycluster.cluster.netty.tcp.TcpServer"
		init-method="start" destroy-method="stop">
		<constructor-arg ref="networkServerConfig" />
		<property name="handlers">
			<list>
				<bean class="org.easycluster.easycluster.cluster.SampleMessageClosure" />
			</list>
		</property>
	</bean>

	<bean id="logUpdateHandlerExtension"
		class="org.easycluster.easycluster.cluster.manager.event.LogUpdateHandlerExtension">
		<constructor-arg ref="eventHandler" />
	</bean>

	<bean id="metricsEngine" class="org.easymetrics.easymetrics.engine.DefaultMetricsEngine">
		<property name="collectMetrics" value="false" />
	</bean>

</beans>